html, body, #cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  background: #000;
}

body.portrait-mode #cesiumContainer {
  width: 56.25vh !important; /* 9/16 * 100vh = 56.25vh */
  height: 100vh !important;
  margin: 0 auto; /* Center it */
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}